/Research_Code/Optimization/Data/*
!/Research_Code/Optimization/Data/.gitkeep
!Research_Code/Optimization/Data/_Logs/.gitkeep
Research_Code/Optimization/Sweeps/
!Research_Code/Optimization/Sweeps/.gitkeep
/AI_jam
/talks_and_papers
/Julia/depot/
/Julia/julia-*.tar.gz
/Julia/julia-*/
/From_Urban/
/Misc_applied_math
/my_implementations
/talks_and_papers
/Research_Code/Background
/Untracked
/Notes
/codex_logs