/Julia/depot/
/Julia/julia-*.tar.gz
/Julia/julia-*/
/Data/*
!/Data/.gitkeep
!/Data/Sweeps/.gitkeep
!/Data/_Logs/.gitkeep
/codex_logs
/Untracked
.rsync-filter
Local/Tests/outputs/
Local/Tests/timing_test_results/
Local/Tests/visualizations/
Local/Visualize_results/*/Data/*
!Local/Visualize_results/*/Data/.gitkeep

